mysqldb:
  build: mysqldb
  environment:
   - "MYSQL_ROOT_PASSWORD=demo"
  ports:
   - "3306"

pgdb:
  build: pgdb
  environment:
   - "DB_NAME=database"
   - "DB_USER=admin"
   - "DB_PASS=password"
  ports:
   - "5432"

etl:
  build: etl
  env_file: etl/.env.test
  links:
   - mysqldb
   - pgdb

test:
  build: test
  env_file: etl/.env.test
  links:
   - mysqldb
   - pgdb
  volumes:
    # So we can get test results
    - ./test:/code
